<button class="btn btn-outline-success my-0 mb-4"
  [routerLink]="['/notas/nuevo']"
>
  Crear Nota
</button>

<h3>{{ title }}</h3>

@if (notas.length == 0) {
  <div class="alert alert-warning my-4 fw-bold">No hay registros en el sistema!</div>
} @else {
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nota</th>
      <th>Nombre</th>
      <th>Estudiante</th>
      <th>Profesor</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nota of notas">
      <td>{{ nota.valor }}</td>
      <td>{{ nota.nombre }}</td>
      <td>{{ nota.estudianteNombre }}</td>
      <td>{{ nota.profesorNombre }}</td>
      <td>
        <button
        *ngIf="nota.id"
          class="btn btn-outline-warning my-0"
          (click)="editNota(nota.id)"
        >
          Editar
        </button>
      </td>
      <td>
        <button
        *ngIf="nota.id"
          class="btn btn-outline-danger my-0"
          (click)="deleteNota(nota.id)"
        >
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
}

