<h2>Editar Profesor</h2>

<form [formGroup]="profesorForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nombre">Nombre del profesor</label>
    <input
      type="text"
      id="nombre"
      class="form-control"
      formControlName="nombre"
      placeholder="Ingresa el nombre del profesor"
      minlength="5"
      maxlength="90"
      required
    />
  </div>

  <button type="submit" class="btn btn-outline-success my-0 mt-3" [disabled]="!profesorForm.valid">
    Guardar Cambios
  </button>
</form>

